@import "colors";

.bg-yl-photo {
  background: url("../assets/make_you_feel.jpg") center center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  box-shadow: inset 2500px 2500px transparentize($black, 0.75);
}

.bg-frontpage {
  background: url("../assets/better_final.jpg") center center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  filter: blur(20px);
  // box-shadow: inset 2500px 2500px transparentize($black, 0.75);
}
