// colors
$blue: blue;

// shades
$black:    hsl(220,00%,00%);
$carbon:   #0A0C10; // hsl(220,25%,05%)
$charcoal: hsl(220,25%,10%);

$pebble:   hsl(220,12%,35%);
$gray:     hsl(220,12%,65%);
$cloud:    hsl(220,12%,85%);

$fog:      hsl(220,12%,95%);
$snow:     hsl(220,12%,98%);
$white:    hsl(220,12%,100%);

// social colors
$facebook: #3b5998;
$twitter: #00b6f1;
$googleplus: #df4a32;
$linkedin: #007bb6;
$pinterest: #cb2027;
