// colors
$blue: blue;

// shades
$black:    #111822; // hsl(215,32%,10%)
$carbon:   #222C3A; // hsl(215,26%,18%)
$charcoal: #354050; // hsl(215,20%,26%)
$pebble:   #79879A; // hsl(215,14%,54%)
$gray:     #A2ABB9; // hsl(215,14%,68%)
$cloud:    #D0D5DC; // hsl(215,14%,84%)
$fog:      #F0F2F5; // hsl(215,20%,95%)
$snow:     #F9FAFB; // hsl(215,26%,98%)
$white:    #FFFFFF; // hsl(215,32%,100%)

// social colors
$facebook: #3b5998;
$twitter: #00b6f1;
$googleplus: #df4a32;
$linkedin: #007bb6;
$pinterest: #cb2027;
