// colors
$blue: blue;

// shades

$black:    hsl(222,35%,3%);
$carbon:   hsl(222,30%,10%);
$charcoal: hsl(215,25%,23%);
$pebble:   hsl(215,20%,44%);
$gray:     hsl(215,20%,65%);
$cloud:    hsl(215,14%,84%);
$fog:      hsl(215,20%,95%);
$snow:     hsl(215,26%,98%);
$white:    hsl(215,32%,100%);

// social colors
$facebook: #3b5998;
$twitter: #00b6f1;
$googleplus: #df4a32;
$linkedin: #007bb6;
$pinterest: #cb2027;
