@import "colors";

// shades background color
.bg-black {
  background: $black !important;
}
.bg-carbon {
  background: $carbon !important;
}
.bg-charcoal {
  background: $charcoal !important;
}
.bg-pebble {
  background: $pebble !important;
}
.bg-gray {
  background: $gray !important;
}
.bg-cloud {
  background: $cloud !important;
}
.bg-fog {
  background: $fog !important;
}
.bg-snow {
  background: $snow !important;
}
.bg-white {
  background: $white !important;
}

// shade text color
.text-black {
  color: $black !important;
}
.text-carbon {
  color: $carbon !important;
}
.text-charcoal {
  color: $charcoal !important;
}
.text-pebble {
  color: $pebble !important;
}
.text-gray {
  color: $gray !important;
}
.text-cloud {
  color: $cloud !important;
}
.text-fog {
  color: $fog !important;
}
.text-snow {
  color: $snow !important;
}
.text-white {
  color: $white !important;
}

// white text opacity
.text-white-25 {
  color: transparentize($white, 0.75);
}
.text-white-50 {
  color: transparentize($white, 0.5);
}
.text-white-75 {
  color: transparentize($white, 0.25);
}
