@import "colors";

// border utilities
.bb-1-cloud {
  border-bottom: 1px solid $cloud !important;
}
.b-1-cloud {
  border: 1px solid $cloud !important;
}
.bb-2-black {
  border-bottom: 2px solid $black !important;
}

// font size utilities
.fs-14 {
  font-size: 14px !important;
}

// text utilities
.text-uppercase-title {
  font-family: "Proxima Nova", $font-stack;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 8px;
  color: $fog !important;
}
