.letter-spacing-1 {
  letter-spacing: 1px !important;
}
.letter-spacing-2 {
  letter-spacing: 2px !important;
}

.cursor-pointer {
  cursor: pointer !important;
}

.link-muted {
  cursor: pointer;
  color: $gray-400;
  &:hover {
    color: $gray-500;
  }
  &:active {
    color: $gray-600;
  }
}

.link-primary {
  cursor: pointer;
  color: $red;
  border-bottom: 2px solid transparent;
  &:hover {
    color: darken($red, 10%);
    border-bottom: 2px solid darken($red, 10%);
  }
  &:active {
    color: darken($red, 20%);
    border-bottom: 2px solid darken($red, 20%);
  }
}

.link-danger {
  cursor: pointer;
  color: $danger;
  &:hover {
    color: lighten($danger, 10%);
  }
  &:active {
    color: darken($danger, 10%);
  }
}

.link-info {
  cursor: pointer;
  color: $info;
  &:hover {
    color: lighten($info, 10%);
  }
  &:active {
    color: darken($info, 10%);
  }
}

.bg-dark-gradient {
  background: linear-gradient(50deg, $black, $gray-900);
}

.bg-light-gradient {
  background: linear-gradient(360deg, $gray-300, $gray-200);
}

.o-75 {
  opacity: 0.75;
}
.o-25 {
  opacity: 0.25;
}

.border-bottom {
  border-bottom-style: solid;
}

.border-width-2 {
  border-width: 2px !important;
}

.border-color-gray-200 {
  border-color: $gray-200 !important;
}
.border-color-gray-900 {
  border-color: $gray-900 !important;
}
