@import "fonts";
@import "colors";
@import "color_utils";
@import "utils";

body {
  font-family: Helvetica-neue, Arial, sans-serif;
  text-align: center;
  font-size: 26px;
  background: $black;
}
.link {
  color: white;
  opacity: 0.75;
  font-size: 32px;
  text-decoration: none;
  &:hover {
    color: white;
    opacity: 1;
    text-decoration: none;
  }
  &:active {
    color: white;
    opacity: 0.5;
    text-decoration: none;
  }
}
