@import "../styles/colors";

.Footer {
  // margin-bottom: 20px;
  border-radius: 0px 0px 5px 5px;
  box-shadow:
    0 2px 5px 0 transparentize($black, 0.85),
    inset 0 2px 0px -1px $black,
    inset 0 3px 0px -1px transparentize($white, 0.92);
  background: linear-gradient(darken($pebble, 30%), $black);
}
